**/node_modules
**/dist
**/.next
**/.turbo
**/.cache
**/.env
**/.env.local
**/.env.*.local
**/auth_info
**/coverage
**/tsconfig.tsbuildinfo
.git
.gitignore
.idea
.vscode
.DS_Store
docker-compose.yml
README.md
docs/
